.container{
  max-width: 360px;
  margin: 0 auto 90px auto;
  padding: 0 36px;
}
#bg-calc {
  border-radius: 6px;
  padding: 6px;
  background: #F2F2F2;
}
#mainDisplay {
  display: flex !important;
  margin-top: 24px !important;;
  justify-content: center !important;;
}
#mainDisplay input {
  border-color: #969696;
}
#mainDisplay .mat-form-field-wrapper {
  width: 96% !important;;
}
#subDisplay {
  text-align: center;
  padding-bottom:18px;
  margin: 0;
}
.mat-raised-button {
  width: 90%;
  height: 90%;
  padding: 0;
}
